language: cpp
compiler: gcc

before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -qq
  - sudo apt-get install libevent-dev
  - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  - if [ "$CXX" = "g++" ]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90; fi

script:
  - mkdir build && cd build && cmake .. && make
  - HttpServerLibevent1 &
  - sleep 2
  - wget "http://127.0.0.1:5555"
  - ls -alF .
  - sleep 2

after_script:
  - killall HttpServerLibevent1

notifications:
  slack: j0ny:tlJolYCjWs5eI2DmeZFry8sa
